@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/global' as *;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $white;
  color:$BrainFlix-Black;
  display: flex;
  justify-content: flex-start;
  // place-items: center;
  min-width: 320px;
  min-height: 100vh;
  @include mobile-body;
  @include tablet {
      @include tablet-body;
  }
}

h2,h3,p {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  border: 1px solid transparent;
  border-radius: 4px;
}
